/* 
body {
    height: 100vh;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    height: 10%;
    margin-top: 0;
    margin-bottom: 50px;
}

tbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 60%;
}

tr {
    width: 100%;
} 
*/

html, body {
  height: 100vh;
  margin: 0;
}
  
* {
  box-sizing: border-box;
  font-family: helvetica;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 0;
  margin-bottom: 50px;
}

table {
  background-color: blue;
}

td {
  height: 100px;
  width: 100px;
  padding: 0;
}

td div {
  margin: 0 auto;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  pointer-events: none;
}

td {
  border: 1px solid black;
}

button {
  margin-top: 30px;
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 20px;
}

button:hover {
  background-color: white;
  color: black;
}